@model WineStore.WebSite.Models.PurchaseManager.InventoryViewModel

@{
    ViewData["Title"] = "AddInventory";
}

<h1>AddInventory</h1>

<h4>InventoryViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddInventory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inventory_ID" class="control-label"></label>
                <input asp-for="Inventory_ID" class="form-control" />
                <span asp-validation-for="Inventory_ID" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <select asp-for="SelectedProducts" class="form-control" asp-items="@(new SelectList(Model.ExistingProducts, "Value", "Text"))">
                    <option value="">Selected Product</option>
                </select>
            </div>
            
            <div class="form-group">
                <select asp-for="SelectedShop" class="form-control" asp-items="@(new SelectList(Model.ExistingShop, "Value", "Text"))">
                    <option value="">Selected Shop</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
  
}
