@model WineStore.WebSite.Models.StoreManager.OrderViewModel

@{
    ViewData["Title"] = "AddOrder";
}

<h1>AddOrder</h1>

<h4>OrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order_ID" class="control-label"></label>
                <input asp-for="Order_ID" class="form-control" />
                <span asp-validation-for="Order_ID" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <select asp-for="SelectedProducts" class="form-control" asp-items="@(new SelectList(Model.ExistingProducts, "Value", "Text"))">
                    <option value="">Selected Product</option>
                </select>
            </div>
            <div class="form-group">
                <select asp-for="SelectedShop" class="form-control" asp-items="@(new SelectList(Model.ExistingShop, "Value", "Text"))">
                    <option value="">Selected Shop</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Amount" class="control-label"></label>
                <input asp-for="Total_Amount" class="form-control" />
                <span asp-validation-for="Total_Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Date" class="control-label"></label>
                <input asp-for="Order_Date" class="form-control" />
                <span asp-validation-for="Order_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
