@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="container">
    <main role="main" class="pb-3">
        <h1>Welcome to Wine Store Accounting System</h1>
        <p>
            Wine Store Accounting System is your ultimate destination for managing your wine shop's financial records and inventory with ease. Whether you're an administrator, store manager, or purchase manager, our intuitive web-based application provides the tools you need to streamline your operations and maximize efficiency.
        </p>
        <p>
            With Wine Store Accounting System, you can effortlessly track orders, manage expenses, monitor inventory levels, and much more. Our user-friendly interface and comprehensive features empower you to make informed decisions and drive your wine shop's success.
        </p>
        <p>
            Explore our range of functionalities tailored to meet the unique needs of wine shop owners and managers. From adding new employees to viewing inventory and managing suppliers, WineStore.WebSite simplifies the complexities of running a wine business, allowing you to focus on what matters most – serving your customers and growing your business.
        </p>
        <p>
            Join us today and discover the power of Wine Store Accounting System in revolutionizing your wine shop management experience!
        </p>
    </main>
</div>
