@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <main>
        <section>
            <img src="~/Images/Top-Winery-Management-Software.jpg" alt=" Wine" width="1200" height="750" />

        </section>
    </main>
</div>