@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <main>
        <section>
            <h2>About Us</h2>
            <p>Our Wine Shop Management System is designed to streamline your operations and maximize efficiency. Track orders, manage expenses, monitor inventory levels, and much more with our user-friendly interface and comprehensive features.</p>
        </section>
    </main>
</div>